<link rel="stylesheet" href="~/css/forum.css" />


@if (SQlite.GetUsername(Context) != null)
{
	<p>HEJ @SQlite.GetUsername(Context)</p>

	<form method="post" asp-controller="Home" asp-action="CreatePost">
		<label for="fname">@SQlite.GetUsername(Context)</label><br>
		<br />
		<p>Titel</p>
		<input type="text" name="title" size="40" maxlength="100"/><br />
		<br />
		<p>Text</p>
		<input type="text" name="text" size="80" maxlength="400" style="height: 30px;"><br>
		<br />
		<input type="submit" value="Submit">
	</form>
	<br />
	<p>--------------------------------------------------</p>


} else
{
	<p>Oobs! måste logga in för att posta i forumet!</p>
}

<!--final posts goes here-->

@{
	for (int i = (int)SQlite.GetTotalPostAmount(); i >= 0; i--)
	{
		if (SQlite.GetPostText(i) == null || SQlite.GetPostText(i) == ""){ continue; }

		<div class="main-container">
			<div class="post-box">
				<div class="user-container">
					<img src=@SQlite.GetPFP(i) width="7%" style="border-radius: 20px;">
					<h3>@SQlite.GetPostUser(i)</h3>
				</div>
				<p><h2>@SQlite.GetPostTitle(i)</h2></p>
			<p>@SQlite.GetPostText(i)</p>
			<br>
			<p style="color: gray">@SQlite.GetPostTime(i)</p>
			</div>
		</div>
	}
}