<link rel="stylesheet" href="~/css/forum.css" />

<div class="main-container">
@if (SQlite.GetUsername(Context) != null)
{	
	
	<form method="post" asp-controller="Home" asp-action="CreatePost">
		<div class="create-post-box">
			<label for="fname">Create post as <b>@SQlite.GetUsername(Context)</b></label><br>
			<br>
			<p><b>Title</b></p>
			<input type="text" name="title" size="40" maxlength="100"/><br>
			<br>
			<p><b>Text</b></p>
			<input type="text" name="text" size="80" maxlength="400" style="height: 30px;"><br>
			<br>
			<input type="submit" value="Submit" style="color: white; border-radius: 10px; background-color: green;">
			<input name="forum" style="display: none" value="Forum">
		</div>
	</form>
	

} else
{
		<p><b>You need to be logged in to create posts in this forum!</b></p>
}

<!-- Mae will watch isak make a searchbar here -->

<form method="post" asp-controller="Home" asp-action="SearchPost">
	<div class="searchbar">
		<p><b>Sök</b></p>
		<input type="text" name="search" size="80" />
		<input type="submit" value="Sök" style="color: white; border-radius: 10px; background-color: green;">
	</div>
</form>

<!--final posts goes here-->

@{
	for (int i = (int)SQlite.GetTotalPostAmount("Forum"); i >= 0; i--)
	{
		if (SQlite.GetPostInfo("Forum", i, "Posttext") == null || SQlite.GetPostInfo("Forum", i, "Posttext") == "") { continue; }
			<div class="post-box">
				<div class="user-container">
					<img src=@SQlite.GetPFP(Context, "Forum", i) width="7%" style="border-radius: 20px;">
					<h3>@SQlite.GetPostInfo("Forum", i, "User")</h3>
				</div>
				<p><h2>@SQlite.GetPostInfo("Forum", i, "Title")</h2></p>
				<p>@SQlite.GetPostInfo("Forum", i, "Posttext")</p>
			<br>
			<div class="fictional-footer-container">
			<br>
					<br>
					@SQlite.GetPostTime("Forum", i)
				<div class="fictional-toenail-container">
					<p id="like-number-@i">@SQlite.GetPostLikes(i)</p>
					<button  type="button" onclick="likePost(@i)" style="display: @SQlite.VisibleIfLoggedIn(Context)">Like</button>
				</div>

			</div>
			</div>
	}
}
</div>

<script src="~/js/like.js"></script>