<link rel="stylesheet" href="~/css/base.css" />
<link rel="stylesheet" href="~/css/forum.css" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">

	<form method="post" asp-controller="Home" asp-action="SearchPost">
		<div class="searchbar">
			<p><b>Sök</b></p>
			<input type="text" name="search" size="80" />
			<input type="submit" value="Sök" style="color: white; border-radius: 10px; background-color: green;">
		</div>
	</form>

@{
	string search = SQlite.GetSearchCookie(Context);
		<h1>Sökresultat för <b>@search</b></h1>

		string[] forums = new string[2] { "Forum", "ForumFree"};
		foreach(string forum in forums)
		{
			for (int i = (int)SQlite.GetTotalPostAmount(forum); i >= 0; i--)
			{

				if (SQlite.GetPostText(forum, i) == null || SQlite.GetPostText(forum, i) == "") { continue; }

				if (SQlite.PostSearch(forum, search, i))
				{
					<div class="post-box">
						<div class="user-container">
							<img src=@SQlite.GetPFP(Context, forum, i) width="7%" style="border-radius: 20px;">
							<h3>@SQlite.GetPostUser(forum, i)</h3>
						</div>
						<p><h2>@SQlite.GetPostTitle(forum, i)</h2></p>
						<p>@SQlite.GetPostText(forum, i)</p>
						<br>
						<div class="fictional-footer-container">
							@SQlite.GetPostTime(forum, i)
							<button type="button">Click Me!</button>
						</div>
					</div>
				}
			}

			<p>----------------------------------------</p>
		}

	
}

</div>